<!--
Delete HTML page for Flights
-->

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>
    <p>Flight has succesfully been deleted</p>
    <form asp-area="" asp-controller="Flights" asp-action="Index">
        <button class="button">
            Back to Flights
        </button>
    </form>
</div>
