<!--
Delete HTML page for Passengers
-->

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>
    <p id="myPara">Passenger has succesfully been deleted.</p>
    <form asp-area="" asp-controller="Passengers" asp-action="Index">
        <button class="button">
            Back to Passengers
        </button>
    </form>
</div>